<h1>Notes</h1>
<div class="container">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% @notes.each do |f| %>
          <h2><%= f.title %></h2>
          <p><%= f.body %><p>
        <% end %>
        </div>
  </div>
</div>
