<h1>Notes</h1>
<div class="row">
  <% @notes.each do |f| %>
    <div class="col-md-4">
      <div class="bord">
        <h2><%= f.title %></h2>
        <p><%= f.body %><p>
        <li><%= link_to "edit", edit_note_path(@notes)  %></li>
      </div>
    </div>
  <% end %>
</div>
