<h1>Show!</h1>
<div class="col-md-4 col-md-offset-4">
  <div class="row">
    <ul class="notes">
      <li>
        <div class="rotate-1 yellow-bg">
          <h2><%= @notes.title %></h2>
          <p><%= @notes.body %></p>
          <p><%= @notes.duedate %></p>
          <p><%= link_to "Edit", edit_note_path(@notes.id) %></p>
        </div>
      </li>
    </ul>
  </div>
</div>
