
<div class="center jumbotron hero-unit darken test-js">
  <div class="front">
    <h1>Note Taker</h1>
    <h2>
        Use this app to take persistent notes, remind yourself of things and the like.  This is a learning project demonstrating skills in Ruby on Rails.
        Register to get started.
    </h2>
        <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary signin"    %>
      </div>
</div>
