/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'bootstrap/theme';
 @import "bootstrap-sprockets";


 /* mixins, variables, etc. */

 $gray-medium-light: #eaeaea;

 /* universal */

 body {
   padding-top: 10px;
   padding-left: 10px;
   padding-right: 10px;
 }

 section {
   overflow: auto;
 }


 textarea {
   resize: vertical;
 }

 .center {
   text-align: center;
   h1 {
     margin-bottom: 10px;
   }
 }

 /* typography */

 h1, h2, h3, h4, h5, h6 {
   line-height: 1;
 }

 h1 {
   font-size: 3em;
   letter-spacing: -2px;
   margin-bottom: 30px;
   text-align: center;
 }

 h2 {
   font-size: 1.2em;
   letter-spacing: -1px;
   margin-bottom: 30px;
   text-align: center;
   font-weight: normal;
   color: $gray-light;
 }

 p {
   font-size: 1.1em;
   line-height: 1.7em;
 }

 /* header */

 #logo {
   float: left;
   margin-right: 10px;
   font-size: 1.7em;
   color: white;
   text-transform: uppercase;
   letter-spacing: -1px;
   padding-top: 9px;
   font-weight: bold;
   &:hover {
     color: white;
     text-decoration: none;
   }
 }

 .testing-center {
   text-align: center;
 }

 /* footer */

 footer {
   position: absolute;
   margin-top: 45px;
   padding-top: 5px;
   border-top: 1px solid $gray-medium-light;
   right: 10px;
   bottom: 15px;
   left: 10px;
   color: $gray-light;
   a {
     color: $gray;
     &:hover {
       color: $gray-darker;
     }
   }

   small {
     float: left;
   }
   ul {
     float: right;
     list-style: none;
     li {
       float: left;
       margin-left: 15px;
     }
   }
 }


 .alert-alert {
   @extend .alert-warning;
 }

 .alert-notice {
   @extend .alert-info;
 }

/* sticky notes */

body{margin-top:20px;}

ul.notes li {
  margin: 10px 40px 50px 0px;
  float: left;
}

ul.notes li, ul.tag-list li {
  list-style: none;
}

ul.notes li div small {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}

div.rotate-1 {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}

div.rotate-2 {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
}

.lazur-bg {
  background-color: #23c6c8;
  color: #ffffff;
}

.red-bg {
  background-color: #ed5565;
  color: #ffffff;
}

.navy-bg {
  background-color: #1ab394;
  color: #ffffff;
}

.yellow-bg {
  /* background-color: #f8ac59; */
  background-color: #ffff00;
  color: #ffffff;
}

.editnote {
  position: absolute;
  bottom: 10px;
  left: 10px;
  float: left;
}

.deletenote {
  position: absolute;
  bottom: 10px;
  right: 10px;
  float: right;
}

ul.notes li div {
  text-decoration: none;
  color: #000;
  display: block;
  height: 275px;
  width: 275px;
  padding: 1em;
  -moz-box-shadow: 5px 5px 7px #212121;
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
}
