<footer class="footer">
    <small>
        Note Taker, by Montebu, LLC
    </small>
    <nav>
        <ul>
            <li><%= link_to "More" %></li>
            <li><%= link_to "Help" %></li>
            <li>news</li>
        </ul>
    </nav>
</footer>
